{% extends '::base.html.twig' %}
{% block body %}
<form action="{{host}}/app_dev.php/api/image.jpg" method="post" enctype="multipart/form-data">
<!--<form action="http://localhost/osu-collage/web/app_dev.php/api/imagepost" method="post" enctype="multipart/form-data">-->
<!--<form action="http://localhost/test.php" method="post" enctype="multipart/form-data">-->

    <div class='files'>
    <div>
    <label for="file"><button disabled class="remove">-</button>Filename:</label>
    <input type="file" name="images[]" id="file1" />
    </div>

    </div>
    <input type="submit" name="submit" value="Submit" />
    <button id="add" type='button'>Add another file</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>
$(document).ready(function() {
    (function() {
        var el = "<div>" +
            "<label for='file'><button type='button' class='remove'>-</button> Filename:</label>" +
            "<input type='file' name='images[]' id='file1' />" +
            "</div>";

        $('#add').click(function() {
            $('.files').append($(el));
            $('.files').last().find('.remove').click(function() {
                $(this).parent().parent().remove();
            });
        });

    }());
});
</script>
{% endblock %}
